[submodule "third_party/transmission-rpc"]
	path = third_party/transmission-rpc
	url = https://github.com/Trim21/transmission-rpc
[submodule "third_party/slack_bolt"]
	path = third_party/slack_bolt
	url = https://github.com/slackapi/bolt-python
[submodule "third_party/anitopy"]
	path = third_party/anitopy
	url = https://github.com/Coolkids/anitopy
