name: Build NAStool Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - version.py
      - docker/Dockerfile
      - .github/workflows/build.yml
      - requirements.txt

jobs:
  build:
    name: Build (${{ matrix.arch }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
          - arch: arm64
            platform: linux/arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get version
        run: |
          app_version=$(cat version.py |sed -ne "s/APP_VERSION\s=\s'v\(.*\)'/\1/gp")
          echo "app_version=$app_version" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push (${{ matrix.arch }})
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          platforms: ${{ matrix.platform }}
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/nas-tools:latest-${{ matrix.arch }}
            ${{ secrets.DOCKER_USERNAME }}/nas-tools:${{ env.app_version }}-${{ matrix.arch }}

  manifest:
    name: Create Manifest
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create and push manifest
        run: |
          docker manifest create \
            ${{ secrets.DOCKER_USERNAME }}/nas-tools:latest \
            --amend ${{ secrets.DOCKER_USERNAME }}/nas-tools:latest-amd64 \
            --amend ${{ secrets.DOCKER_USERNAME }}/nas-tools:latest-arm64

          docker manifest push ${{ secrets.DOCKER_USERNAME }}/nas-tools:latest

          docker manifest create \
            ${{ secrets.DOCKER_USERNAME }}/nas-tools:${{ env.app_version }} \
            --amend ${{ secrets.DOCKER_USERNAME }}/nas-tools:${{ env.app_version }}-amd64 \
            --amend ${{ secrets.DOCKER_USERNAME }}/nas-tools:${{ env.app_version }}-arm64

          docker manifest push ${{ secrets.DOCKER_USERNAME }}/nas-tools:${{ env.app_version }}
